.footerSection {
  width: 80%;
  display: flex;
  gap: 10%;
  margin: 0px auto;
  padding: 50px 0px;
  border-top: 0.0125rem solid rgb(240, 248, 255, 0.23)
}
.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0px auto;
}
.socialLinks {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.socialIcons {
  width: 30px;
  height: inherit;
  color: aliceblue;
}
.socialIcons:hover {
  color: rgb(100% 100% 100% / 0.7);
}
.socialInfo {
  width: 50%;
}
