.projectSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  margin-bottom: 15px;
}
.card {
  width: 100%;
  display: flex;
  gap: 15px;
  background-color: rgb(240, 248, 255, 0.019999);
  border-radius: 8px;
  margin: 0;
  padding: 15px;
  transform: all 100ms linear ease-in;
}
.card:hover {
  transform: all 300ms linear ease-in;
  background-color: rgb(240, 248, 255, 0.11);
  .cardImg {
    outline: 2px solid rgb(94, 234, 212, 0.74);
  }
  .cardTitle {
    text-decoration: underline #5eead4;
  }
}
.cardImg {
  width: 260px;
  height: 152px;
  border-radius: 4px;
}
.cardInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  top: 0;
  padding: 0;
  margin: 0;
}
.cardTitle {
  margin: 0;
  padding: 0;
}
.cardDescription {
  margin: 0;
  padding: 0;
}
.cardStack {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}
.stack {
  background-color: rgb(94, 234, 212, 0.11);
  padding: 2px 6px;
  border-radius: 4px;
  color: #5eead4;
}
