.contactSection {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.archiveInfo {
  margin-top: 6rem;
}
.backToHome {
  text-decoration: none;
  color: aliceblue;
  display: flex;
  align-items: center;
  gap: 8px;
}
.backToHome:hover {
  color: #5eead4;
  .backArrow {
    transform: scale(1.1);
    color: #5eead4;
  }
}
.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  gap: 25px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 950px;
  height: 100vh;
  background-color: #fff;
  color: black;
  gap: 15px;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 10vh;
}
.inputs {
  max-width: 80%;
  width: 80%;
  padding: 18px;
  border-radius: 6px;
  border: 0.0125rem solid lightgray;
  background-color: transparent;
  color: black;
  font-size: 16px;
}
.inputs:hover {
  border: 2px solid rgba(94, 234, 212, 0.32);
}
.form button {
  width: 80%;
  background-color: black;
  color: aliceblue;
  padding: 18px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  margin-top: 1rem;
  cursor: pointer;
}
.card {
  width: 60%;
}
.cardIntro {
  line-height: normal;
  gap: 0;
  margin: 0;
  padding: 0;
}
.cardIntro h3 {
  color: #5eead4;
}
.card .cardOverlay {
  background-image: url("/undraw_profile_data_re_v81r.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
.contactInfo {
  height: 10vh;
  padding-bottom: 25px;
  line-height: 12px;
  /* border-bottom: 0.0125rem solid aliceblue; */
}

/* RESPONSIVE DESIGN  */
@media screen and (max-width: 586px) {
  .contactSection {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 340px;
    height: 100vh;
    background-color: #fff;
    color: black;
    gap: 15px;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10vh;
  }
  .inputs {
    max-width: 80%;
    width: 80%;
    padding: 18px;
    border-radius: 6px;
    border: 0.0125rem solid lightgray;
    background-color: transparent;
    color: black;
    font-size: 16px;
  }
  .card .cardOverlay {
    width: 110%;
    height: 40vh;
  }
}
