/* HERO SECTION  */
.heroSection {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  width: 80%;
}
.mySection {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  top: 0;
  position: sticky;
}
.scrollingSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.aboutMe {
  font-size: 1.2rem;
  font-weight: 400;
}
.sectionsName {
  display: flex;
  align-items: center;
  gap: 20px;
}
.line {
  width: 10px;
  height: 2px;
  background-color: #e2e8f0;
}
.sectionsName:hover {
  color: #5eead4;
  .line {
    background-color: #5eead4;
    width: 65px;
    transition: all 0.31s ease-in;
  }
}
.paragraphs {
  line-height: 1;
  margin: 5px;
  padding: 0;
}

/* PROJECT SECTION  */
.projectSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.projectArchive {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* marquee Section  */
.marqueeSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.techStack {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(240, 248, 255, 0.1);
  padding: 25px 0px;
  align-items: center;
  overflow: hidden;
}

.techs {
  display: inline-block;
  width: 105px;
  height: 105px;
  display: inline-block;
  white-space: nowrap;
  margin: 0px 25px;
  letter-spacing: 1px;
  animation: marquee 2s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* CONTACT ME  */
.contactSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.contactInfo {
  text-align: center;
  margin: 0px auto;
}
.contactTitle,
.contactMotto {
  text-align: center;
}
.contactOverlay {
  /* 
  display: flex;
  justify-content: center;
  align-items: center; */
  /* flex-direction: column; */
  background-image: url("https://images.unsplash.com/photo-1704999575341-b3b6a8e254d6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
  position: relative;
}
.overlayInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e2e8f0;
  color: black;
  padding: 25px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
