/* HERO SECTION  */
.heroSection {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  width: 80%;
}
.mySection {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  top: 0;
  position: sticky;
}
.scrollingSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.aboutMe {
  font-size: 1.2rem;
  font-weight: 400;
}
.sectionsName {
  display: flex;
  align-items: center;
  gap: 20px;
}
.line {
  width: 10px;
  height: 2px;
  background-color: #e2e8f0;
}
.sectionsName:hover {
  color: #5eead4;
  .line {
    background-color: #5eead4;
    width: 65px;
    transition: all 0.31s ease-in;
  }
}
.paragraphs {
  line-height: 1;
  margin: 5px;
  padding: 0;
}

/* PROJECT SECTION  */
.projectSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.projectArchive {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* marquee Section  */
.marqueeSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.techStack {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(240, 248, 255, 0.1);
  padding: 25px 0px;
  align-items: center;
  overflow: hidden;
}

.techs {
  display: inline-block;
  width: 105px;
  height: 105px;
  display: inline-block;
  white-space: nowrap;
  margin: 0px 25px;
  letter-spacing: 1px;
  animation: marquee 2s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
