/* HERO SECTION  */
.heroSection {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  width: 80%;
}
.mySection {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  position: sticky;
  top: 7vh;
  height: 20vh;
  margin-bottom: 10rem;
}
.scrollingSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.aboutMe {
  font-size: 1.2rem;
  font-weight: 400;
}
.sectionsName {
  display: flex;
  align-items: center;
  gap: 20px;
}
.line {
  width: 10px;
  height: 2px;
  background-color: #e2e8f0;
}
.sectionsName:hover {
  color: #5eead4;
  .line {
    background-color: #5eead4;
    width: 65px;
    transition: all 0.31s ease-in;
  }
}
.paragraphs {
  line-height: 1;
  margin: 5px;
  padding: 0;
}

/* PROJECT SECTION  */
.projectSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.projectArchive {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* marquee Section  */
.marqueeSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.techStack {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(240, 248, 255, 0.1);
  padding: 25px 0px;
  align-items: center;
  overflow: hidden;
}

.techs {
  display: inline-block;
  width: 105px;
  height: 105px;
  overflow: hidden;
  /* white-space: nowrap; */
  margin: 0px 25px;
  letter-spacing: 1px;
  animation: marquee 5s ease-in 1s infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(150%);
  }
}

/* CONTACT ME  */
.contactSection {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 7rem;
  gap: 25px;
  margin-bottom: 5rem;
}

.contactOverlay {
  background-image: url("/undraw_hey_email_liaa.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.contactBtn {
  display: flex;
  align-items: center;
  gap: 1px;
  text-decoration: none;
  border: 2px solid #5eead4;
  background: linear-gradient(90deg, rgb(94, 234, 212, 0.6), #0f172abf);
  padding: 10px 35px;
  border-radius: 4px;
  color: #5eead4;
  animation: bounce 1000ms ease-in 1s infinite;
}
.btnArrow {
  color: #e2e8f0;
  width: 25px;
  height: 25px;
  animation: slideRight 1000ms ease-in 1s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, -20px, 0);
  }
  60% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
  }
}
