.archiveSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  position: relative;
}
.archiveInfo {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backToHome {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: aliceblue;
}
.backToHome:hover {
  .backArrow {
    transform: scale(1.2);
    color: #5eead4;
  }
}
.btn {
  padding: 5px 18px;
  border: 0.125rem solid #5eead4;
  border-radius: 5px;
  text-decoration: none;
  color: aliceblue;
}
.btn:hover {
  background-color: rgb(94, 234, 212, 0.22);
  transition: all 0.3s ease-in-out;
}
.projectHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
}
.projectLink:hover {
  .linkIcon {
    transform: scale(1.25);
    color: #5eead4;
  }
}
.stackTD {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.projectStack {
  background-color: rgb(94, 234, 212, 0.11);
  padding: 2px 6px;
  border-radius: 4px;
  color: #5eead4;
}
.projectSection {
  width: 100%;
  margin: 0px auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.projectTable {
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
  border-collapse: collapse;
  margin-top: 20px;
  border: transparent;
}
.tableHead {
  position: sticky;
  top: 10px;
  background-color: rgb(240, 248, 255, 0.7);
  border-radius: 18px;
}

.projectTable th {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 20px 120px;
  border-bottom: 1px solid rgb(240, 248, 255, 0.12);
}

.projectTable td {
  padding: 10px;
  border: transparent;
  border-bottom: 1px solid rgb(240, 248, 255, 0.12);
  padding: 21px 10px;
  text-align: center;
}
.projectTable a {
  color: #2196f3;
  text-decoration: none;
  align-items: center;
}
.projectTable a:hover {
  text-decoration: underline;
}
